arrow==0.10.0
binaryornot==0.4.4
-e git+git@github.com:ptrompeter/Blog2017.git@fb169ffdd53b0b7588ea2b301992f51091d91c23#egg=Blog2017&subdirectory=Blog2017
certifi==2017.11.5
chardet==3.0.4
click==6.7
cookiecutter==1.6.0
future==0.16.0
hupper==1.0
idna==2.6
Jinja2==2.10
jinja2-time==0.2.0
Mako==1.0.7
MarkupSafe==1.0
PasteDeploy==1.5.2
plaster==1.0
plaster-pastedeploy==0.4.1
poyo==0.4.1
py==1.5.1
Pygments==2.2.0
pyramid==1.9.1
pyramid-debugtoolbar==4.3
pyramid-jinja2==2.7
pyramid-mako==1.0.2
pyramid-retry==0.5
pyramid-tm==2.2
pytest==3.2.5
pytest-cookies==0.3.0
pytest-venv==0.2
python-dateutil==2.6.1
repoze.lru==0.7
requests==2.18.4
six==1.11.0
SQLAlchemy==1.1.15
transaction==2.1.2
translationstring==1.3
urllib3==1.22
venusian==1.1.0
virtualenv==15.1.0
waitress==1.4.2
WebOb==1.7.3
whichcraft==0.4.1
zope.deprecation==4.3.0
zope.interface==4.4.3
zope.sqlalchemy==0.7.7
